.recipe-title {
  text-align: center;
  margin: 2.5rem 0;
}

.recipe-infos p {
  margin: 0.4rem 0;
}

.recipe-infos h3 {
  margin: 0.6rem 0;
}

.recipe-infos p,
.recipe-infos h3 {
  margin-left: 1rem;
  margin-right: 1rem;
}

.recipe-container {
  max-width: 78.2rem;
  margin: 2rem auto;
  display: flex;
  flex-wrap: wrap;
  /* background-color: red; */
}

.recipe-card {
  /* background-color: green; */
  width: 19rem;
  height: 22rem;
  padding: 0.5rem 0.1rem;
  /* border: 1px solid grey; */
}

.recipe-infos {
  width: 17rem;
  margin: 0 auto;
  border: 1px solid grey;
  background-color: white;
  height: 22rem;
}

.recipe-infos img {
  width: 100%;
  height: 200px;
}

@media screen and (max-width: 1265px) {
  .recipe-container {
    width: 930px !important;
  }
}

@media screen and (max-width: 960px) {
  .recipe-container {
    max-width: 619px !important;
  }
}

@media screen and (max-width: 640px) {
  .recipe-container {
    width: 100% !important;
  }

  .recipe-card {
    width: 400px !important;
    padding: 1rem 1.5rem;
    margin: 0 auto !important;
  }

  .recipe-infos {
    width: 100%;
  }

  .recipe-infos img {
    height: 220px;
  }
}
